@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BetConstruct-Icons";
    src: url(/fonts/BetConstruct-Icons.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: block
}

.bc-icon {
    font-family: "BetConstruct-Icons" !important;
    font-style: normal;
    flex-shrink: 0;
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
}